# Ignora archivos y carpetas sensibles o innecesarios para el repositorio
.env
*.env
config.php
*.log
node_modules/
vendor/
.DS_Store
Thumbs.db
.idea/
.vscode/
*.bak
*.zip
*.tar.gz
sitemap.xml
robots.txt
# Puedes agregar más archivos o carpetas que no quieras subir
