dfg# Ignora archivos y carpetas sensibles o innecesarios para el repositorio

.vscode/
cls
colores.txt
Docs.docx
Referencias de texto.txt
repo_1.txt
.vscode/
.DS_Store
Work Method.txt
*.log


# Puedes agregar más archivos o carpetas que no quieras subir

# Archivos de Node y Scripts (Skill Imágenes)
node_modules/
backups/

# Archivos de configuración de Agentes/Skills
.scripts/
scripts/
.agents.md
.skills.md
Agents.md
AGENTS.md
Skills.md
