dfg# Ignora archivos y carpetas sensibles o innecesarios para el repositorio

.vscode/
cls
colores.txt
Docs.docx
Referencias de texto.txt
repo_1.txt


# Puedes agregar más archivos o carpetas que no quieras subir
